2/PhoneTestSaxDom/material.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="assets">
    <xs:element name="asset">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="ID" type="xs:integer"/>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="type" type="xs:string"/>
          <xs:element name="count" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
  </xs:element>
</xs:schema>
