2/PhoneTestSaxDom/testresult.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="warehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="results" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:integer" name="count"/>
            </xs:sequence>
            <xs:attribute type="xs:integer" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
